<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ytr's blog</title>
    <meta name="description" content="ytr's blog">
    <meta name="keywords" content="ytr">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="{{ site.baseurl }}/assest/css/base.css" media="screen" type="text/css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assest/css/phone.css" media="screen" type="text/css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assest/css/tablet.css" media="only screen and (min-width:700px)" type="text/css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assest/css/smalldesktop.css" media="only screen and (min-width:1000px)" type="text/css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assest/css/desktop.css" media="only screen and (min-width:1290px)" type="text/css">
</head>
<body id="photo" class="preload">

{{content}}

<script src="{{ site.baseurl }}/assest/js/jquery.min.js"></script>
<script src="{{ site.baseurl }}/assest/js/main.js"></script>
</body>
</html>